@import "variables";

section#blog-post, section#blog-index
{
    margin: 0 auto;
    
    @media all and (min-width:$navMinWidth) {
        max-width: 83.33333333%;
        padding: $containerPadding 0;
    }
    
    .post-meta
    {
        margin: 0 0 .5rem 0;
        font-size: 1.5rem;
        color: #9EABB3;
    }
    
    p
    {
        font-size: 2rem;
        color: #555;
        margin: 0;
        padding: 0 0 3rem 0;
        line-height: 1.6em;
    }
    
    .pagination {
        display: flex;
        margin: 4rem auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.3rem;
        color: #9EABB3;
        
        .left, .middle, .right
        {
            flex: 1;
        }
        
        .middle
        {
            text-align: center;
        }
        
        .right
        {
            text-align: right;
        }
    }

    .older-posts, .newer-posts {
        position: absolute;
        display: inline-block;
        padding: 5px 15px;
        border: #EBF2F6 2px solid;
        text-decoration: none;
        border-radius: 30px;
        -moz-transition: border ease 0.3s;
        -o-transition: border ease 0.3s;
        -webkit-transition: border ease 0.3s;
        transition: border ease 0.3s;
    }

        .older-posts:hover, .newer-posts:hover {
            border-color: #9EABB3;
        }

    .older-posts {
        right: 0;
    }

    .newer-posts {
        left: 0;
    }

    .long-form blockquote {
        display: block;
        margin: 0 0 2.8rem 0;
        padding: 0 2rem;
        background-color: #fafafa;
        border: 1px solid rgb(242, 242, 242);
        border-left: 5px solid rgb(238, 238, 238);
    }

    .pagination a {
        color: #9EABB3;
    }

        .pagination a:hover {
            text-decoration: none;
        }

    .page-number {
        display: inline-block;
        padding: 2px 0;
        align-self: center;
    }

    .post {
        position: relative;
        margin: 4rem auto;
        padding-bottom: 4rem;
        border-bottom: #EBF2F6 1px solid;
        /*-moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;*/
    }

        .post:first-child {
            margin-top: 0;
        }

        .post a {
            -moz-transition: color ease 0.3s;
            -o-transition: color ease 0.3s;
            -webkit-transition: color ease 0.3s;
            transition: color ease 0.3s;
            background: transparent;
            text-decoration: underline;
        }

            .post a:hover {
                color: #57A3E8;
            }

            .post a:active,
            .post a:hover {
                outline: 0;
            }

        .post h1,
        .post h2,
        .post h3,
        .post h4,
        .post h5,
        .post h6 {
            color: #50585D;
            margin: 0;
            padding: 0 0 28px 0;
            font-size: 2.5rem;
            font-weight: 700;
        }

            .post h1 a,
            .post h2 a,
            .post h3 a,
            .post h4 a,
            .post h5 a,
            .post h6 a {
                color: #50585D;
            }

        .post .post-excerpt h1,
        .post .post-excerpt h2,
        .post .post-excerpt h3,
        .post .post-excerpt h4,
        .post .post-excerpt h5,
        .post .post-excerpt h6 {
            padding: 35px 0 calc(28px + 35px) 0;
        }

        .post .post-title a {
            text-decoration: none;
        }

        .post hr {
            margin-bottom: 48px;
        }

        .post .post-meta, .post .post-meta a {
            margin: 0 0 5px 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5rem;
            color: #9EABB3;
        }

            .post .post-meta:not(.block) {
                display: inline-block;
            }

        .post .post-title {
            -moz-hyphens: none;
            -ms-hyphens: none;
            -webkit-hyphens: none;
            hyphens: none;
        }

        .post h2.post-title {
            font-size: 4rem;
            line-height: 1.2em;
            letter-spacing: -1px;
            text-indent: -2px;
            margin: 0;
        }

        .post .post-excerpt p {
            line-height: 1.6em;
        }

        .post img {
            display: block;
            height: auto;
            max-width: 100%;
            max-height: 600px;
            margin: 2.5rem auto;
            padding: 0;
            border: 1px solid #cccccc;
        }

        .post .gist {
            margin: 0;
            padding-bottom: 2.8rem;
        }

        .post pre {
            margin-bottom: 2.8rem;
        }

        .post .post-excerpt blockquote p {
            margin: 0;
            padding: 28px 0;
        }

    .post-footer {
        position: relative;
        margin: 4rem 0 0 0;
        padding: 4rem 0 0 0;
        border-top: #EBF2F6 1px solid;
    }

        .post-footer h4 {
            font-size: 1.8rem;
            margin: 0;
            font-weight: 600;
            padding: 0 0 1.5rem;
        }

        .post-footer p {
            margin: 0;
            font-size: 1.6rem;
            line-height: 1.6em;
            padding: 1.5rem 0;
        }

        .post-footer .share {
            text-align: right;
        }

            .post-footer .share a {
                font-size: 2.3rem;
                display: inline-block;
                margin: .5rem 0 .5rem 1.6rem;
                color: #BBC7CC;
                text-decoration: none;
            }

                .post-footer .share a:hover {
                    color: #50585D;
                }

    /*#region Code */

    .post pre, .post code, .post tt {
        font-size: 12px;
        font-family: Consolas, "Liberation Mono", Courier, monospace;
    }

    .post code, .post tt {
        margin: 0 0px;
        padding: 0px 0px;
        white-space: pre-wrap;
        border: 1px solid #eaeaea;
        background-color: #f8f8f8;
        border-radius: 3px;
    }

    .post pre > code {
        margin: 0;
        padding: 0;
        white-space: pre-wrap;
        border: none;
        background: transparent;
    }

    .post pre {
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px;
    }

    pre code, pre tt {
        background-color: transparent;
        border: none;
    }

    .post kbd {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #DDDDDD;
        background-image: linear-gradient(#F1F1F1, #DDDDDD);
        background-repeat: repeat-x;
        border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
        border-image: none;
        border-radius: 2px 2px 2px 2px;
        border-style: solid;
        border-width: 1px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        line-height: 10px;
        padding: 1px 4px;
    }

    .post code {
        padding: 2px 4px;
        font-size: 1.4rem;
        background-color: #f9f2f4;
        border-radius: 4px;
    }

    .post pre {
        font-size: 1.4rem;
    }

        .post pre code {
            font-size: 1.4rem;
        }

    /*#endregion */

    @media only screen and (max-width: 500px) {
        .pagination {
            width: auto;
            margin-left: 16px;
            margin-right: 16px;
        }

        .older-posts,
        .newer-posts {
            position: static;
            margin: 10px 0;
        }

        .page-number {
            display: block;
        }
    }

    @media only screen and (max-width:991px) {
        .post-footer .share {
            text-align: left;
        }

            .post-footer .share a {
                margin: .5rem 1.6rem .5rem 0;
            }
    }
    
    article.post
    {
        img
        {
            max-width: 100%;
        }
    }
}