@import "variables";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
    /*background: #EFEFF2;*/
    background: #ecf0f1;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, input, textarea, span, em, strong, p, label, legend, li, a {
    font-family: 'Open Sans','Source Code Pro',sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-weight:500;
    line-height: 1.3;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left;
}

main#container //Main page container
{
    max-width: $maxContainerWidth;
    margin: 0 auto;
    padding: 0 2rem;
}